# 1. 모든 파일 무시
*

# 2. 폴더는 무시하지 않음
!*/

# ----------------------------------------------------------------------
# 재차단 (이게 없으면 build 폴더 안에 생기는 임시 자바 파일까지 다 올라감)
# ----------------------------------------------------------------------
.gradle/
build/
out/
.idea/
gradle/

# ----------------------------------------------------------------------
# 4. 허용할 파일만 예외 처리 (Whitelist)
# ----------------------------------------------------------------------
!*.java
!README.md
!/.gitignore